<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907225272590-00d1iu2j01ltttulm14om8hrpbbrmu85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907225272590-00d1iu2j01ltttulm14om8hrpbbrmu85</string>
	<key>API_KEY</key>
	<string>AIzaSyCU98FKH6KKw_dqnIBQrDfOopC396Apy4E</string>
	<key>GCM_SENDER_ID</key>
	<string>907225272590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pepteam.ssTest</string>
	<key>PROJECT_ID</key>
	<string>ss-test-ae751</string>
	<key>STORAGE_BUCKET</key>
	<string>ss-test-ae751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907225272590:ios:6ff608a530ba1f33fa475f</string>
	<key>DATABASE_URL</key>
	<string>https://ss-test-ae751-default-rtdb.firebaseio.com</string>
</dict>
</plist>